{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": ["transform-runtime"],
  "retainLines": true,
  "sourceMaps": true
}
